#builder {
    height: 500px;
    width: 100%;
}

.default-children {
    display:flex;
    padding: 0px 46px;
    font-size: 40px;
    text-align: center;
    line-height: 132px;
    color: #FFFFFF;
    margin: 3px;
    border-radius: 5px;
    cursor:pointer;
}

.sandbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
}

.selected-child {
    opacity: 0.50;
    border: 1px solid #dee2e6;
}