#builder {
    height: 500px;
    width: 100%;
}

.default-children {
    display:flex;
    padding: 0px 46px;
    font-size: 40px;
    text-align: center;
    line-height: 132px;
    margin: 3px;
    border-radius: 5px;
    cursor:pointer;
    position: relative;
}

.em {
    height: auto !important;
}

.sandbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
}

.selected-child > #delete-btn {
    display: block;
}

.selected-child > .add-child-btn {
    display: block;
}

#delete-btn {
  display: none;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
  color: #777;
  z-index: 1;
}

#delete-btn:after {
  content: '✖';
}

.add-child-btn {
  display: none;
  position: absolute;
  right: 30px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
  color: #777;
  z-index: 1;
}

.add-child-btn:after {
  content: '✚';
}

.logo {
    width: 50px;
}

.credits {
    font-size: 10px;
    color: #777;
}